package env

import (
	"os"
)

func InitEnv(){
	os.Setenv("DB_HOST", <your database host>)
	os.Setenv("DB_PORT", <database port>)
	os.Setenv("DB_USERNAME", <username>)
	os.Setenv("DB_PASSWORD", <password>)
	os.Setenv("DB_NAME", <your database name>)
}